blib/
.build/
_build/
cover_db/
.last_cover_stats
LICENSE
Makefile
Makefile.old
Makefile.PL
MANIFEST
META.*
MYMETA.*
DumpArenas.[ico]
DumpArenas.bs
nytprof.out
pm_to_blib
README
*.log
*.bak
*.swp
*.txt
/x
Internal-DumpArenas-*
